log/*.log
temp/cache
temp/btfj.dat
composer.lock
libs/bin
libs/coffeescript
libs/nette
libs/doctrine
libs/kriswallsmith
libs/symfony
libs/composer
libs/oaza/temp/cache
www/*.build.js
www/*.build.css
libs/autoload.php
.idea
