parameters:
    doctrine:
        development: true
        database:
            driver: pdo_mysql
            user: root
            password: NEW_PASS
            charset: 'utf8'
            dbname: foo

services:
    entityManagerSetup:
        class: \Doctrine\ORM\Configuration
        factory: \Doctrine\ORM\Tools\Setup::createYAMLMetadataConfiguration(\OazaCMS\Helpers\DoctrineLoader::getDirectories(),%doctrine.development%)

    entityManager:
        class: \Doctrine\ORM\EntityManager
        factory: \Doctrine\ORM\EntityManager::create(%doctrine.database%, @entityManagerSetup)